@model DTOLayer.DTOS.CustomerAccountDTOS.NewCardDTO
@{
    ViewData["Title"] = "BuyNewCards";
    Layout = null;
    Random random = new Random();
    string CCV = random.Next(100, 999).ToString();
    string LastEigthNumber = random.Next(10000000, 99999999).ToString();
}
<html lang="en">
<head>
    <meta charset="UTF-8">


    <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">

    <meta name="apple-mobile-web-app-title" content="CodePen">

    <link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">

    <link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-b4b4269c16397ad2f0f7a01bcdf513a1994f4c94b8af2f191c09eb0d601762b1.svg" color="#111">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Admin/gentela-gh-pages/documentation/js/jquery.min.js"></script>

    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>


    <title>Odissey Bank</title>

    <link rel="canonical" href="https://codepen.io/bigbos0410/pen/abjgdQb">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata&amp;family=Open+Sans&amp;display=swap">

    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        html,
        body {
            min-height: 100%;
            font-family: "Open Sans", sans-serif;
        }

        body {
            background: linear-gradient(50deg, #f3c680, #a1e3e2);
        }

        /*--------------------
                Buttons
                --------------------*/
        .btn {
            display: block;
            background: #bded7d;
            color: white;
            text-decoration: none;
            margin: 20px 0;
            padding: 15px 15px;
            border-radius: 5px;
            position: relative;
        }

            .btn::after {
                content: "";
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 0.2s ease-in-out;
                box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, 0.2);
                border-radius: 5px;
            }

            .btn:hover::after {
                background: rgba(0, 0, 0, 0.1);
                box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
            }

        /*--------------------
                Form
                --------------------*/
        .form fieldset {
            border: none;
            padding: 0;
            padding: 10px 0;
            position: relative;
            clear: both;
        }

            .form fieldset.fieldset-expiration {
                float: left;
                width: 60%;
            }

                .form fieldset.fieldset-expiration .select {
                    width: 84px;
                    margin-right: 12px;
                    float: left;
                }

            .form fieldset.fieldset-ccv {
                clear: none;
                float: right;
                width: 86px;
            }

            .form fieldset label {
                display: block;
                text-transform: uppercase;
                font-size: 11px;
                color: rgba(0, 0, 0, 0.6);
                margin-bottom: 5px;
                font-weight: bold;
                font-family: Inconsolata;
            }

            .form fieldset input,
            .form fieldset .select {
                width: 100%;
                height: 38px;
                color: #333333;
                padding: 10px;
                border-radius: 5px;
                font-size: 15px;
                outline: none !important;
                border: 1px solid rgba(0, 0, 0, 0.3);
                box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
            }

                .form fieldset input.input-cart-number,
                .form fieldset .select.input-cart-number {
                    width: 82px;
                    display: inline-block;
                    margin-right: 8px;
                }

                    .form fieldset input.input-cart-number:last-child,
                    .form fieldset .select.input-cart-number:last-child {
                        margin-right: 0;
                    }

            .form fieldset .select {
                position: relative;
            }

                .form fieldset .select::after {
                    content: "";
                    border-top: 8px solid #222;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    position: absolute;
                    z-index: 2;
                    top: 14px;
                    right: 10px;
                    pointer-events: none;
                }

                .form fieldset .select select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    position: absolute;
                    padding: 0;
                    border: none;
                    width: 100%;
                    outline: none !important;
                    top: 6px;
                    left: 6px;
                    background: none;
                }

                    .form fieldset .select select :-moz-focusring {
                        color: transparent;
                        text-shadow: 0 0 0 #000;
                    }

        .form button {
            width: 100%;
            outline: none !important;
            background: linear-gradient(180deg, #49a09b, #3d8291);
            text-transform: uppercase;
            font-weight: bold;
            border: none;
            box-shadow: none;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            margin-top: 90px;
        }

            .form button .fa {
                margin-right: 6px;
            }

        /*--------------------
                Checkout
                --------------------*/
        .checkout {
            margin: 150px auto 30px;
            position: relative;
            width: 460px;
            background: white;
            border-radius: 15px;
            padding: 160px 45px 30px;
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
        }

        /*--------------------
                Credit Card
                --------------------*/
        .credit-card-box {
            perspective: 1000;
            width: 400px;
            height: 280px;
            position: absolute;
            top: -112px;
            left: 50%;
            transform: translateX(-50%);
        }

            .credit-card-box:hover .flip, .credit-card-box.hover .flip {
                transform: rotateY(180deg);
            }

            .credit-card-box .front,
            .credit-card-box .back {
                width: 400px;
                height: 250px;
                border-radius: 15px;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                background: linear-gradient(135deg, #bd6772, #53223f);
                position: absolute;
                color: #fff;
                font-family: Inconsolata;
                top: 0;
                left: 0;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
                box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
            }

                .credit-card-box .front::before,
                .credit-card-box .back::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: url("http://cdn.flaticon.com/svg/44/44386.svg") no-repeat center;
                    background-size: cover;
                    opacity: 0.05;
                }

            .credit-card-box .flip {
                transition: 0.6s;
                transform-style: preserve-3d;
                position: relative;
            }

            .credit-card-box .logo {
                position: absolute;
                top: 9px;
                right: 20px;
                width: 60px;
            }

                .credit-card-box .logo svg {
                    width: 100%;
                    height: auto;
                    fill: #fff;
                }

            .credit-card-box .front {
                z-index: 2;
                transform: rotateY(0deg);
            }

            .credit-card-box .back {
                transform: rotateY(180deg);
            }

                .credit-card-box .back .logo {
                    top: 185px;
                }

            .credit-card-box .chip {
                position: absolute;
                width: 60px;
                height: 45px;
                top: 20px;
                left: 20px;
                background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
                border-radius: 8px;
            }

                .credit-card-box .chip::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    border: 4px solid rgba(128, 128, 128, 0.1);
                    width: 80%;
                    height: 70%;
                    border-radius: 5px;
                }

            .credit-card-box .strip {
                background: linear-gradient(135deg, #404040, #1a1a1a);
                position: absolute;
                width: 100%;
                height: 50px;
                top: 30px;
                left: 0;
            }

            .credit-card-box .number {
                position: absolute;
                margin: 0 auto;
                top: 103px;
                left: 19px;
                font-size: 38px;
            }

            .credit-card-box label {
                font-size: 10px;
                letter-spacing: 1px;
                text-shadow: none;
                text-transform: uppercase;
                font-weight: normal;
                opacity: 0.5;
                display: block;
                margin-bottom: 3px;
            }

            .credit-card-box .card-holder,
            .credit-card-box .card-expiration-date {
                position: absolute;
                margin: 0 auto;
                top: 180px;
                left: 19px;
                font-size: 22px;
                text-transform: capitalize;
            }

            .credit-card-box .card-expiration-date {
                text-align: right;
                left: auto;
                right: 20px;
            }

            .credit-card-box .ccv {
                height: 36px;
                background: #fff;
                width: 91%;
                border-radius: 5px;
                top: 110px;
                left: 0;
                right: 0;
                position: absolute;
                margin: 0 auto;
                color: #000;
                text-align: right;
                padding: 10px;
            }

                .credit-card-box .ccv label {
                    margin: -25px 0 14px;
                    color: #fff;
                }

        .the-most {
            position: fixed;
            z-index: 1;
            bottom: 0;
            left: 0;
            width: 50vw;
            max-width: 200px;
            padding: 10px;
        }

            .the-most img {
                max-width: 100%;
            }
    </style>

    <script>
        window.console = window.console || function (t) { };
    </script>



    <style type="text/css">
        :root zeus-ad, :root topadblock, :root span[id^="ezoic-pub-ad-placeholder-"], :root guj-ad, :root gpt-ad, :root div[id^="zergnet-widget"], :root div[id^="yandex_ad"], :root div[id^="vuukle-ad-"], :root div[id^="sticky_ad_"], :root div[id^="rc-widget-"], :root div[id^="optidigital-adslot"], :root div[id^="gpt_ad_"], :root div[id^="ezoic-pub-ad-"], :root div[id^="div-gpt-"], :root div[id^="dfp-ad-"], :root div[id^="advads_ad_"], :root div[id^="adspot-"], :root div[id^="ads300_250-widget-"], :root div[id^="ads300_100-widget-"], :root div[id^="ads250_250-widget-"], :root div[id^="adrotate_widgets-"], :root div[id^="_vdo_ads_player_ai_"], :root div[id*="ScriptRoot"], :root div[id*="MarketGid"], :root div[data-native_ad], :root div[data-mini-ad-unit], :root div[data-insertion], :root div[data-id-advertdfpconf], :root div[data-google-query-id], :root hl-adsense, :root div[data-contentexchange-widget], :root div[data-content="Advertisement"], :root div[data-alias="300x250 Ad 2"], :root div[data-alias="300x250 Ad 1"], :root div[data-adzone], :root div[data-adunit-path], :root div[data-ad-wrapper], :root div[data-ad-targeting], :root div[data-ad-placeholder], :root div[class^="native-ad-"], :root div[data-dfp-id], :root div[class^="kiwi-ad-wrapper"], :root div[class^="Adstyled__AdWrapper-"], :root div[aria-label="Ads"], :root display-ads, :root display-ad-component, :root bottomadblock, :root atf-ad-slot, :root aside[id^="adrotate_widgets-"], :root article.ad, :root ark-top-ad, :root app-advertisement, :root app-ad, :root amp-fx-flying-carpet, :root amp-embed[type="taboola"], :root amp-connatix-player, :root amp-ad-custom, :root amp-ad, :root a[onmousedown^="this.href='https://paid.outbrain.com/network/redir?"][target="_blank"] + .ob_source, :root citrus-ad-wrapper, :root a[onmousedown^="this.href='https://paid.outbrain.com/network/redir?"][target="_blank"], :root a[onmousedown^="this.href='http://paid.outbrain.com/network/redir?"][target="_blank"] + .ob_source, :root a[href^="https://yogacomplyfuel.com/"], :root a[href^="https://www.sugarinstant.com/?partner_id="], :root a[href^="https://www.purevpn.com/"][href*="&utm_source=aff-"], :root a[href^="https://www.privateinternetaccess.com/"] > img, :root a[href^="https://www.onlineusershielder.com/"], :root a[href^="https://www.nutaku.net/signup/landing/"], :root a[href^="https://www.nudeidols.com/cams/"], :root a[href^="https://www.mypornstarcams.com/landing/click/"], :root a[href^="https://www.kingsoffetish.com/tour?partner_id="], :root a[href^="https://www.infowarsstore.com/"] > img, :root a[href^="https://www.highcpmrevenuenetwork.com/"], :root a[href^="https://www.googleadservices.com/pagead/aclk?"], :root a[href^="https://www.goldenfrog.com/vyprvpn?offer_id="][href*="&aff_id="], :root a[href^="https://www.get-express-vpn.com/offer/"], :root a[href^="https://www.financeads.net/tc.php?"], :root a[href^="https://www.brazzersnetwork.com/landing/"], :root div[class^="Display_displayAd"], :root a[href^="https://www.sheetmusicplus.com/?aff_id="], :root a[href^="https://www.bang.com/?aff="], :root [data-template-type="nativead"], :root a[href^="https://www.adultempire.com/"][href*="?partner_id="], :root a[href^="https://webroutetrk.com/"], :root a[href^="https://twinrdsyn.com/"], :root a[href^="https://tsartech.g2afse.com/"], :root [href^="https://www.mypatriotsupply.com/"] > img, :root a[href^="https://trk.softonixs.xyz/"], :root a[href^="https://trk.nfl-online-streams.club/"], :root a[href^="https://tracking.avapartner.com/"], :root a[href^="https://track.wg-aff.com"], :root a[href^="https://track.afcpatrk.com/"], :root a[href^="https://torguard.net/aff.php"] > img, :root div[data-adname], :root a[href^="https://thechleads.pro/"], :root [data-role="tile-ads-module"], :root a[href^="https://adsrv4k.com/"], :root a[href^="https://go.xlviirdr.com"], :root a[href^="https://thaudray.com/"], :root a[href^="https://www.5mno3.com/"], :root a[href^="https://taghaugh.com/"], :root a[href^="https://click.candyoffers.com/"], :root [href^="https://zstacklife.com/"] img, :root a[href^="https://t.aslnk.link/"], :root a[href^="https://t.adating.link/"], :root a[href^="https://go.trackitalltheway.com/"], :root [href^="https://track.fiverr.com/visit/"] > img, :root a[href^="https://syndication.exoclick.com/"], :root a[href^="https://syndication.dynsrvtbg.com/"], :root a[href^="https://streamate.com/landing/click/"], :root a[href^="https://ad.doubleclick.net/"], :root a[href^="https://static.fleshlight.com/images/banners/"], :root a[href^="https://sTaRtGAMing.net/tienda/"], :root [data-adblockkey], :root a[href^="https://sTARtgamIng.net/tienda/"], :root a[href^="https://aweptjmp.com/"], :root a[href^="https://s.zlinkc.com/"], :root a[href^="https://www.mrskin.com/account/"], :root a[href^="https://s.optzsrv.com/"], :root a[data-obtrack^="http://paid.outbrain.com/network/redir?"], :root a[href^="https://reinstandpointdumbest.com/"], :root a[href^="https://go.strpjmp.com/"], :root a[href^="https://refpa4903566.top/"], :root a[href^="https://pubads.g.doubleclick.net/"], :root a[href^="https://prf.hn/click/"][href*="/camref:"] > img, :root a[href^="https://serve.awmdelivery.com/"], :root a[href^="https://prf.hn/click/"][href*="/adref:"] > img, :root a[href^="https://pb-track.com/"], :root a[href^="https://paid.outbrain.com/network/redir?"], :root ps-connatix-module, :root div[id^="ad_position_"], :root a[href^="https://ovb.im/"], :root div[id^="ad-div-"], :root a[href^="https://newbinotracs.com/"], :root a[href^="https://natour.naughtyamerica.com/track/"], :root [href^="https://stvkr.com/"], :root a[href^="https://mediaserver.entainpartners.com/renderBanner.do?"], :root [href^="https://www.herbanomic.com/"] > img, :root a[href^="https://maymooth-stopic.com/"], :root a[href^="https://loboclick.com"], :root .nya-slot[style], :root a[href^="https://a.bestcontentweb.top/"], :root a[href^="https://lobimax.com/"], :root a[href^="https://lead1.pl/"], :root a[href^="https://refpa.top/"], :root a[href^="https://landing.brazzersnetwork.com/"], :root a[href^="https://safesurfingtoday.com/"][href*="?skip="], :root a[href^="https://ads.leovegas.com/redirect.aspx?"], :root a[href^="https://land.brazzersnetwork.com/landing/"], :root a[href^="https://track.adform.net/"], :root [data-css-class="dfp-inarticle"], :root .card-captioned.crd > .crd--cnt > .s2nPlayer, :root a[href^="https://go.tmrjmp.com"], :root a[href^="https://l.hyenadata.com/"], :root a[href^="https://juicyads.in/"], :root a[href^="https://mediaserver.gvcaffiliates.com/renderBanner.do?"], :root a[href^="https://join.dreamsexworld.com/"], :root a[href^="https://itubego.com/video-downloader/?affid="], :root a[href^="https://iqbroker.com/"][href*="?aff="], :root a[href^="https://incisivetrk.cvtr.io/click?"], :root [data-revive-zoneid], :root a[href^="https://googleads.g.doubleclick.net/pcs/click"], :root a[href^="https://clk.wrenchsound.store/"], :root a[href^="https://go.zybrdr.com"], :root [href^="http://join.michelle-austin.com/"], :root [class^="tile-picker__CitrusBannerContainer-sc-"], :root a[href^="https://go.xxxiijmp.com"], :root a[href^="https://go.xtbaffiliates.com/"], :root a[href^="https://ismlks.com/"], :root a[href^="//a.bestcontentfare.top/"], :root [href^="https://www.mypillow.com/"] > img, :root a[href^="https://azpresearch.club/"], :root a[href^="https://go.xlirdr.com"], :root a[href^="https://go.skinstrip.net"][href*="?campaignId="], :root a[href^="https://go.markets.com/visit/?bta="], :root a[href^="https://billing.purevpn.com/aff.php"] > img, :root a[href^="https://go.hpyrdr.com/"], :root a[href^="https://go.goaserv.com/"], :root a[href^="https://go.dmzjmp.com"], :root a[href^="https://twinrdsrv.com/"], :root a[href^="https://go.admjmp.com/"], :root [href^="https://kingered-banctours.com/"], :root a[href^="https://get.surfshark.net/aff_c?"][href*="&aff_id="] > img, :root a-ad, :root a[href^="https://affiliate.rusvpn.com/click.php?"], :root a[href^="https://geniusdexchange.com/"], :root a[href^="https://frameworkdeserve.com/"], :root a[href^="https://flirtandsweets.life/"], :root a[href^="https://www.mrskin.com/tour"], :root a[href^="https://financeads.net/tc.php?"], :root div[data-native-ad], :root a[href^="https://engine.trackingdesks.com/"], :root [href^="https://totlnkcl.com/"], :root a[href^="https://www.adskeeper.com"], :root a[data-redirect^="https://paid.outbrain.com/network/redir?"], :root [href^="https://www.reimageplus.com/"], :root a[href^="https://engine.phn.doublepimp.com/"], :root a[href^="https://engine.blueistheneworanges.com/"], :root a[href^="https://dl-protect.net/"], :root [href="//jjgirls.com/sex/ChaturbateCams"], :root a[href^="https://datingoffers30.info/"], :root a[href^="https://clixtrac.com/"], :root a[href^="https://click.linksynergy.com/fs-bin/"] > img, :root ad-shield-ads, :root a[href^="https://sTartGAMinG.net/tienda/"], :root AD-TRIPLE-BOX, :root a[href^="https://click.hoolig.app/"], :root a[href^="https://track.totalav.com/"], :root img[src^="https://images.purevpnaffiliates.com"], :root a[href^="https://porntubemate.com/"], :root a[href^="http://www.gfrevenge.com/landing/"], :root a[href^="https://clickadilla.com/"], :root a[href^="https://click.dtiserv2.com/"], :root a[href^="https://go.xlvirdr.com"], :root a[href^="http://www.iyalc.com/"], :root a[href^="https://claring-loccelkin.com/"], :root [class^="s2nPlayer"], :root a[href^="https://chaturbate.jjgirls.com/?track="], :root a[href^="https://chaturbate.com/in/?track="], :root a[href^="https://chaturbate.com/in/?tour="], :root a[href^="https://cams.imagetwist.com/in/?track="], :root a[href^="https://go.gldrdr.com/"], :root a[href^="https://buqkrzbrucz.com/"], :root a[href^="https://affcpatrk.com/"], :root a[href^="https://bongacams2.com/track?"], :root a[href^="https://www.sheetmusicplus.com/"][href*="?aff_id="], :root a[href^="https://bngpt.com/"], :root a[href^="https://bluedelivery.pro/"], :root a[href^="https://black77854.com/"], :root a[href^="https://bc.game/"], :root a[href^="https://ndt5.net/"], :root a[href^="https://batheunits.com/"], :root a[target="_blank"][onmousedown="this.href^='http://paid.outbrain.com/network/redir?"], :root a[href^="https://banners.livepartners.com/"], :root a[href^="//whulsaux.com/"], :root a[href^="https://m.do.co/c/"] > img, :root [href="https://masstortfinancing.com"] img, :root a[href^="https://bongacams10.com/track?"], :root a[href^="https://albionsoftwares.com/"], :root a[href^="https://t.hrtye.com/"], :root a[href^="https://go.etoro.com/"] > img, :root a[href^="https://www.adxsrve.com/"], :root a[href^="https://convertmb.com/"], :root a[href^="https://join.sexworld3d.com/track/"], :root a[href^="https://intenseaffiliates.com/redirect/"], :root a[href^="https://ads.ad4game.com/"], :root [id^="google_ads_iframe"], :root a[href^="https://syndication.optimizesrv.com/"], :root a[href^="https://affpa.top/"], :root a[href^="https://adnetwrk.com/"], :root a[href^="https://adjoincomprise.com/"], :root [href^="http://misslinkvocation.com/"], :root a[href^="https://adclick.g.doubleclick.net/"], :root a[href^="https://www.bet365.com/"][href*="affiliate="], :root [href^="https://r.kraken.com/"], :root a[href^="https://mmwebhandler.aff-online.com/"], :root a[href^="https://go.nordvpn.net/aff"] > img, :root [href^="http://clicks.totemcash.com/"], :root a[href^="https://misspkl.com/"], :root a[href^="https://ad.zanox.com/ppc/"] > img, :root a[href^="https://ad.kubiccomps.icu/"], :root a[href^="https://a2.adform.net/"], :root a[href^="https://iactrivago.ampxdirect.com/"], :root a[href^="https://a.medfoodhome.com/"], :root a[href^="https://adultfriendfinder.com/go/"], :root a[href^="https://a.bestcontentoperation.top/"], :root [data-m-ad-id], :root a[href^="https://a-ads.com/"], :root a[href^="https://join.virtualtaboo.com/track/"], :root a[href^="https://StarTGAminG.net/tienda/"], :root a[href^="https://cpmspace.com/"], :root [href^="https://freecourseweb.com/"] > .sitefriend, :root a[href^="https://prf.hn/click/"][href*="/creativeref:"] > img, :root a[href^="http://www.adultempire.com/unlimited/promo?"][href*="&partner_id="], :root a[href^="https://1betandgonow.com/"], :root [href="https://ourgoldguy.com/contact/"] img, :root a[href^="https://brightadnetwork.com/"], :root [href^="https://www.avantlink.com/click.php"] img, :root a[href^="http://www.onwebcam.com/random?t_link="], :root a[href^="http://www.mrskin.com/tour"], :root a[href^="https://agacelebir.com/"], :root a[href^="https://spygasm.com/track?"], :root a[href^="http://d2.zedo.com/"], :root a[href^="http://www.friendlyduck.com/AF_"], :root a[href^="http://trk.globwo.online/"], :root a[href^="http://traffic.tc-clicks.com/"], :root a[href^="http://tour.mrskin.com/"], :root a[href^="https://funkydaters.com/"], :root [id^="ad_sky"], :root a[href^="http://https://www.get-express-vpn.com/offer/"], :root div[id^="google_dfp_"], :root a[href^="http://googleads.g.doubleclick.net/pcs/click"], :root [href^="http://go.cm-trk2.com/"], :root a[href^="http://click.payserve.com/"], :root a[href^="https://porngames.adult/?SID="], :root a[href^="https://landing1.brazzersnetwork.com"], :root #slashboxes > .deals-rail, :root [href^="http://globsads.com/"], :root [href^="https://www.brighteonstore.com/products/"] img, :root a[href^="http://bc.vc/?r="], :root a[href^="https://mityneedn.com/"], :root [href^="http://homemoviestube.com/"], :root a[href^="http://ad.doubleclick.net/"], :root a[href^="//zunsoach.com/"], :root a[href^="http://static.fleshlight.com/images/banners/"], :root a[href^="https://a.adtng.com/"], :root a[href^="//pubads.g.doubleclick.net/"], :root a[href^="https://femglobal.app/"], :root a[href^="//go.eabids.com/"], :root [data-d-ad-id], :root a[href*=".engine.adglare.net/"], :root [href^="https://awbbjmp.com/"], :root a[href^="https://tracker.loropartners.com/"], :root #kt_player > a[target="_blank"], :root a[href*=".cfm?fp="][href*="&maxads="], :root [data-ad-width], :root [href^="https://join.playboyplus.com/track/"], :root a[data-url^="http://paid.outbrain.com/network/redir?"] + .author, :root a[href^="http://bodelen.com/"], :root a[data-oburl^="https://paid.outbrain.com/network/redir?"], :root [href^="https://cpa.10kfreesilver.com/"], :root a[href^="https://a.bestcontentfood.top/"], :root a[href^="http://wct.link/"], :root [href^="https://goldforyourfuture.com/clk.trk"] img, :root [href^="https://infinitytrk.com/"], :root [onclick^="location.href='http://www.reimageplus.com"], :root [id^="section-ad-banner"], :root a[href^="https://go.julrdr.com/"], :root .trc_rbox_div .syndicatedItemUB, :root [href^="https://zone.gotrackier.com/"], :root a[href^="https://visit-website.com/"], :root [href^="https://detachedbates.com/"], :root [href^="https://www.targetingpartner.com/"], :root a[href^="https://fourwhenstatistics.com/"], :root [href^="https://www.restoro.com/"], :root a[href^="https://join.virtuallust3d.com/"], :root .section-subheader > .section-hotel-prices-header, :root [href^="https://go.affiliatexe.com/"], :root [href^="https://www.hostg.xyz/"] > img, :root [href^="https://ilovemyfreedoms.com/landing-"], :root a[href^="https://staRTgaming.net/tienda/"], :root a[href^="https://STaRtgAmInG.net/tienda/"], :root a[href^="http://adultfriendfinder.com/go/"], :root a[href^="https://fastestvpn.com/lifetime-special-deal?a_aid="], :root a[href^="https://tour.mrskin.com/"], :root div[id^="ad-position-"], :root a[href^="http://affiliate.glbtracker.com/"], :root a[href^="https://leg.xyz/?track="], :root div[id^="crt-"][style], :root a[href^="http://adultgames.xxx/"], :root [href^="https://shiftnetwork.infusionsoft.com/go/"] > img, :root a[onmousedown^="this.href='http://paid.outbrain.com/network/redir?"][target="_blank"], :root [href^="https://secure.bmtmicro.com/servlets/"], :root a[href^="https://losingoldfry.com/"], :root .scroll-fixable.rail-right > .deals-rail, :root [href^="https://routewebtk.com/"], :root a[href^="https://oackoubs.com/"], :root a[href^="https://ak.psaltauw.net/"], :root a[href^="https://go.cmtaffiliates.com/"], :root [data-name="adaptiveConstructorAd"], :root [href^="https://optimizedelite.com/"] > img, :root a[href^="https://awptjmp.com/"], :root a[href^="https://go.goasrv.com/"], :root [href^="http://mypillow.com/"] > img, :root a[href^="http://bongacams.com/track?"], :root a[href^="https://fleshlight.sjv.io/"], :root [data-ad-manager-id], :root a[href^="https://promo-bc.com/"], :root a[href^="https://clicks.pipaffiliates.com/"], :root [href^="https://noqreport.com/"] > img, :root a[href^="https://www.highperformancecpmgate.com/"], :root a[href^="https://t.grtyi.com/"], :root [href^="https://mylead.global/stl/"] > img, :root [href^="https://mypatriotsupply.com/"] > img, :root [data-freestar-ad], :root a[href^="https://fc.lc/ref/"], :root .vid-present > .van_vid_carousel__padding, :root span[data-ez-ph-id], :root [href^="https://track.aftrk1.com/"], :root div[id^="adngin-"], :root [data-rc-widget], :root a[href^="https://go.xxxijmp.com"], :root [href^="https://istlnkcl.com/"], :root [href^="https://go.xlrdr.com"], :root [href^="https://go.4rabettraff.com/"], :root a[href^="https://tm-offers.gamingadult.com/"], :root [href^="https://charmingdatings.life/"], :root [href^="https://glersakr.com/"], :root ins.adsbygoogle, :root a[href^="https://1startfiledownload1.com/"], :root .trc_rbox_border_elm .syndicatedItem, :root a[href^="http://www.onclickmega.com/jump/next.php?"], :root a[href^="https://italarizege.xyz/"], :root a[href^="https://wittered-mainging.com/"], :root [href^="https://engine.gettopple.com/"], :root [data-id^="div-gpt-ad"], :root a[href^="https://k2s.cc/pr/"], :root [href^="https://affect3dnetwork.com/track/"], :root a[href^="https://camfapr.com/landing/click/"], :root [href="//sexcams.plus/"], :root a[href^="https://go.currency.com/"], :root [href^="http://www.mypillow.com/"] > img, :root div[id^="div-ads-"], :root [href^="https://rapidgator.net/article/premium/ref/"], :root [href^="https://join3.bannedsextapes.com"], :root div[data-spotim-slot], :root [href^="https://antiagingbed.com/discount/"] > img, :root a[href^="https://go.247traffic.com/"], :root [href^="https://join.girlsoutwest.com/"], :root [href^="http://trafficare.net/"], :root a[href^="https://tc.tradetracker.net/"] > img, :root a[href^="https://adserver.adreactor.com/"], :root [href^="http://join.shemalesfromhell.com/"], :root [id^="ad_slider"], :root #searchResultsList > div > div[onclick$="'inline.ad'});"], :root [data-adbridg-ad-class], :root a[href^="http://www.adultdvdempire.com/?partner_id="][href*="&utm_"], :root [href^="http://join.shemale.xxx/"], :root a[href^="https://ads.betfair.com/redirect.aspx?"], :root [href^="http://www.fleshlightgirls.com/"], :root [href^="http://join.trannies-fuck.com/"], :root .trc_rbox .syndicatedItem, :root a[href^="http://cam4com.go2cloud.org/aff_c?"], :root a[href^="https://thefacux.com/"], :root a[href^="https://ads.planetwin365affiliate.com/redirect.aspx?"], :root [href^="http://join.rodneymoore.com/"], :root [href^="https://shrugartisticelder.com"], :root a[href^="https://staRTgamIng.net/tienda/"], :root div[id^="lazyad-"], :root a[href^="http://com-1.pro/"], :root [name^="google_ads_iframe"], :root [href="https://www.masstortfinancing.com/"] > img, :root .ob_container .item-container-obpd, :root [id^="div-gpt-ad"], :root [href^="https://mypillow.com/"] > img, :root [href^="https://ad.admitad.com/"], :root [data-testid="ad_testID"], :root a[href^="https://u.expresstech.io/"], :root a[href^="https://www.geekbuying.com/dynamic-ads/"], :root a[href^="https://lnkxt.bannerator.com/"], :root [href="https://jdrucker.com/gold"] > img, :root [href^="https://v.investologic.co.uk/"], :root [href^="https://mystore.com/"] > img, :root ADS-RIGHT, :root [href^="https://cipledecline.buzz/"], :root a[href^="https://go.xxxjmp.com"], :root #leader-companion > a[href], :root [data-desktop-ad-id], :root [href^="https://wct.link/"], :root div[recirculation-ad-container], :root [href^="https://traffserve.com/"], :root a[href^="https://track.ultravpn.com/"], :root [href^="https://goldcometals.com/clk.trk"], :root a[href^="https://go.hpyjmp.com"], :root [data-mobile-ad-id], :root a[href^="http://tc.tradetracker.net/"] > img, :root a[href^="http://affiliates.thrixxx.com/"], :root [data-ad-name], :root [data-ez-name], :root a[data-widget-outbrain-redirect^="http://paid.outbrain.com/network/redir?"], :root [data-dynamic-ads], :root a[href^="http://go.xtbaffiliates.com/"], :root a[href^="https://consali.com/"], :root .grid > .container > #aside-promotion, :root DFP-AD, :root .trc_related_container div[data-item-syndicated="true"], :root a[href^="https://www.liquidfire.mobi/"], :root [href^="https://click2cvs.com/"], :root a[href^="https://startgAming.net/tienda/"], :root [href^="https://safer-redirection.com"], :root [onclick*="content.ad/"], :root AMP-AD, :root [data-ad-cls], :root [id^="ad-wrap-"], :root div[id^="taboola-stream-"], :root [href^="https://go.astutelinks.com/"], :root [class^="amp-ad-"], :root [href^="https://affiliate.fastcomet.com/"] > img, :root [class^="adDisplay-module"], :root AD-SLOT, :root a[href^="https://go.xlviiirdr.com"], :root [href^="http://join.shemalepornstar.com/"], :root a[href^="http://partners.etoro.com/"], :root [data-advadstrackid], :root [href^="https://trackfin.asia/"], :root .plistaList > .plista_widget_underArticle_item[data-type="pet"], :root .ob_dual_right > .ob_ads_header ~ .odb_div, :root .trc_rbox_div .syndicatedItem, :root div[data-adunit], :root app-large-ad, :root [href^="https://turtlebids.irauctions.com/"] img, :root [data-ad-module], :root .plistaList > .itemLinkPET, :root [href^="https://gmxvmvptfm.com/"], :root a[href^="https://bs.serving-sys.com"], :root [href^="http://residenceseeingstanding.com/"], :root a[href*="//lkstrck2.com/"], :root a[href^="https://traffdaq.com/"], :root [class^="div-gpt-ad"], :root a[href^="https://refpazkjixes.top/"], :root #mgb-container > #mgb, :root [href^="https://www.cloudways.com/en/?id"], :root a[href^="https://trk.sportsflix4k.club/"], :root a[href^="https://go.xlivrdr.com"], :root a[href^="https://cam4com.go2cloud.org/"], :root a[href^="http://li.blogtrottr.com/click?"] {
            display: none !important;
        }</style>
</head>

<body translate="no">
    <!--

    Follow me on
    Dribbble: https://dribbble.com/supahfunk
    Twitter: https://twitter.com/supahfunk
    Codepen: https://codepen.io/supah/

    This example is just for fun.
    I realized it for the dailyui challenge
    https://dailyui.co/

    Fork it if you want, it's free, but I apreciate credits or a retweet

    Enjoy :)

    -->
    <div class="checkout">
        <div class="credit-card-box">
            <div class="flip">
                <div class="front">
                    <div class="chip"></div>
                    <div class="logo">
                        <svg version="1.1" id="visa" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="47.834px" height="47.834px" viewBox="0 0 47.834 47.834" style="enable-background:new 0 0 47.834 47.834;">
                            <g>
                                <g>
                                    <path d="M44.688,16.814h-3.004c-0.933,0-1.627,0.254-2.037,1.184l-5.773,13.074h4.083c0,0,0.666-1.758,0.817-2.143
                         c0.447,0,4.414,0.006,4.979,0.006c0.116,0.498,0.474,2.137,0.474,2.137h3.607L44.688,16.814z M39.893,26.01
                         c0.32-0.819,1.549-3.987,1.549-3.987c-0.021,0.039,0.317-0.825,0.518-1.362l0.262,1.23c0,0,0.745,3.406,0.901,4.119H39.893z
                         M34.146,26.404c-0.028,2.963-2.684,4.875-6.771,4.875c-1.743-0.018-3.422-0.361-4.332-0.76l0.547-3.193l0.501,0.228
                         c1.277,0.532,2.104,0.747,3.661,0.747c1.117,0,2.313-0.438,2.325-1.393c0.007-0.625-0.501-1.07-2.016-1.77
                         c-1.476-0.683-3.43-1.827-3.405-3.876c0.021-2.773,2.729-4.708,6.571-4.708c1.506,0,2.713,0.31,3.483,0.599l-0.526,3.092
                         l-0.351-0.165c-0.716-0.288-1.638-0.566-2.91-0.546c-1.522,0-2.228,0.634-2.228,1.227c-0.008,0.668,0.824,1.108,2.184,1.77
                         C33.126,23.546,34.163,24.783,34.146,26.404z M0,16.962l0.05-0.286h6.028c0.813,0.031,1.468,0.29,1.694,1.159l1.311,6.304
                         C7.795,20.842,4.691,18.099,0,16.962z M17.581,16.812l-6.123,14.239l-4.114,0.007L3.862,19.161
                         c2.503,1.602,4.635,4.144,5.386,5.914l0.406,1.469l3.808-9.729L17.581,16.812L17.581,16.812z M19.153,16.8h3.89L20.61,31.066
                         h-3.888L19.153,16.8z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="number"></div>
                    <div class="card-holder">
                        <label>Istifadəçi</label>
                        <div></div>
                    </div>
                    <div class="card-expiration-date">
                        <label>Etibarlıdır</label>
                        <div></div>
                    </div>
                </div>
                <div class="back">
                    <div class="strip"></div>
                    <div class="logo">
                        <svg version="1.1" id="visa" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="47.834px" height="47.834px" viewBox="0 0 47.834 47.834" style="enable-background:new 0 0 47.834 47.834;">
                            <g>
                                <g>
                                    <path d="M44.688,16.814h-3.004c-0.933,0-1.627,0.254-2.037,1.184l-5.773,13.074h4.083c0,0,0.666-1.758,0.817-2.143
                         c0.447,0,4.414,0.006,4.979,0.006c0.116,0.498,0.474,2.137,0.474,2.137h3.607L44.688,16.814z M39.893,26.01
                         c0.32-0.819,1.549-3.987,1.549-3.987c-0.021,0.039,0.317-0.825,0.518-1.362l0.262,1.23c0,0,0.745,3.406,0.901,4.119H39.893z
                         M34.146,26.404c-0.028,2.963-2.684,4.875-6.771,4.875c-1.743-0.018-3.422-0.361-4.332-0.76l0.547-3.193l0.501,0.228
                         c1.277,0.532,2.104,0.747,3.661,0.747c1.117,0,2.313-0.438,2.325-1.393c0.007-0.625-0.501-1.07-2.016-1.77
                         c-1.476-0.683-3.43-1.827-3.405-3.876c0.021-2.773,2.729-4.708,6.571-4.708c1.506,0,2.713,0.31,3.483,0.599l-0.526,3.092
                         l-0.351-0.165c-0.716-0.288-1.638-0.566-2.91-0.546c-1.522,0-2.228,0.634-2.228,1.227c-0.008,0.668,0.824,1.108,2.184,1.77
                         C33.126,23.546,34.163,24.783,34.146,26.404z M0,16.962l0.05-0.286h6.028c0.813,0.031,1.468,0.29,1.694,1.159l1.311,6.304
                         C7.795,20.842,4.691,18.099,0,16.962z M17.581,16.812l-6.123,14.239l-4.114,0.007L3.862,19.161
                         c2.503,1.602,4.635,4.144,5.386,5.914l0.406,1.469l3.808-9.729L17.581,16.812L17.581,16.812z M19.153,16.8h3.89L20.61,31.066
                         h-3.888L19.153,16.8z"></path>
                                </g>
                            </g>
                        </svg>

                    </div>
                    <div class="ccv">
                        <label>CCV</label>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <form class="form" autocomplete="off" novalidate="" method="post">
            <fieldset class="fieldset-expiration">
                <label for="card-expiration-month">Valyuta</label>
                <div class="select">
                    <select id="senderCardSelect" asp-for="Currency">
                       
                     @foreach (var item in  ViewBag.Valuta as List<EntityLayer.Concrete.Valuta> )
                        {
                            <option>@item.Currency</option>
                        }
                      
                    </select>
                </div>
            
            </fieldset>
            <fieldset>
                <label for="card-number">Hesab nömrəsi</label>
                <input type="text" id="card-number" class="input-cart-number" asp-for="AccountNumber" value="" style="width:100%"  data-inputmask="'mask':'9999-9999-9999-9999'">

            </fieldset>

            <fieldset>
                <label for="card-holder">İstifadəçi</label>
                <input type="text" id="card-holder">
            </fieldset>
            <fieldset class="fieldset-expiration">
                <label for="card-expiration-month">İstifadə müddəti</label>
                <div class="select">
                    <select id="card-expiration-month" asp-for="ExploryMonth" >
                        <option></option>
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>08</option>
                        <option>09</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                </div>
                <div class="select">
                    <select id="card-expiration-year" asp-for="ExploryYear">
                          <option></option>
                        <option>2023</option>
                        <option>2024</option>
                        <option>2025</option>
                        <option>2026</option>
                        <option>2027</option>
                        <option>2028</option>
                        <option>2029</option>
                        <option>2030</option>
                        <option>2031</option>
                        <option>2032</option>
                    </select>
                </div>
            </fieldset>
            <fieldset class="fieldset-ccv">
                <label for="card-ccv">CCV</label>
                <input type="text" asp-for="CCV" value="@CCV" id="card-ccv" maxlength="3">
            </fieldset>
            <button class="btn" type="submit"><i class="fa fa-lock"></i>Sifariş et!</button>
            <a class="btn btn-primary" asp-controller="MyAccount" asp-action="AllCards"><i class="fa fa-lock"></i>Geri</a>
        </form>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script id="rendered-js">
        $(".input-cart-number").on("click change", function () {
            $t = $(this);

            if ($t.val().length > 3) {
                $t.next().focus();
            }

            var card_number = "";
            $(".input-cart-number").each(function () {
                card_number += $(this).val() + " ";
                if ($(this).val().length == 16) {
                    $(this).next().focus();
                }
            });

            $(".credit-card-box .number").html(card_number);
        });

        $("#card-holder").on("click change", function () {
            $t = $(this);
            $(".credit-card-box .card-holder div").html($t.val());
        });

        $("#card-holder").on("click", function () {
            $t = $(this);
            $(".credit-card-box .card-holder div").html($t.val());
        });

        $("#card-expiration-month, #card-expiration-year").change(function () {
            m = $("#card-expiration-month option").index(
                $("#card-expiration-month option:selected"));

            m = m < 10 ? "0" + m : m;
            y = $("#card-expiration-year").val().substr(2, 2);
            $(".card-expiration-date div").html(m + "/" + y);
        });

        $("#card-ccv").
            on("focus", function () {
                $(".credit-card-box").addClass("hover");
            }).
            on("blur", function () {
                $(".credit-card-box").removeClass("hover");
            }).
            on("click", function () {
                $(".ccv div").html($(this).val());
            });

        /*--------------------
        CodePen Tile Preview
        --------------------*/
        setTimeout(function () {
            $("#card-ccv").
                focus().
                delay(1000).
                queue(function () {
                    $(this).blur().dequeue();
                });
        }, 500);

        /*function getCreditCardType(accountNumber) {
          if (/^5[1-5]/.test(accountNumber)) {
            result = 'mastercard';
          } else if (/^4/.test(accountNumber)) {
            result = 'visa';
          } else if ( /^(5018|5020|5038|6304|6759|676[1-3])/.test(accountNumber)) {
            result = 'maestro';
          } else {
            result = 'unknown'
          }
          return result;
        }

        $('#card-number').change(function(){
          console.log(getCreditCardType($(this).val()));
        })*/
        //# sourceURL=pen.js
    </script>





</body>
</html>

/*<!--<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Money Transfer  İstifadəçi Paneli</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-6 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Axtar...</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Money Transfer Project<small>Pul göndərmək üçün valyutanı seçin</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="align-items-center">
                        <form method="post" class="form-horizontal form-label-center align-items-center">
                            <div class="form-group">
                                <label class="control-label col-md-6 col-sm-6 col-xs-6">Bank kartlarım</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <select class="form-control" id="senderCardSelect" asp-for="Currency">
                                        <option selected>--------------Valuta Seçin---------------</option>
                            
                                    </select>
                                </div>
                            </div>
                           
                          
                            <div class="form-group">
                                <label class="control-label col-md-6 col-sm-6 col-xs-6">CCV nömrəsi</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input type="text" class="form-control" asp-for="CCV" value="" data-inputmask="'mask':'999'">
                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-6 col-sm-6 col-xs-6">Son istifadə tarixi</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input type="text" class="form-control" asp-for="ExploryDate" value="0724" data-inputmask="'mask':'99/99'">
                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-6 col-sm-6 col-xs-6">Kart  nömrəsi</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input type="text" class="form-control" asp-for="AccountNumber" id="accountNumberInput" value="" data-inputmask="'mask':'9999-9999-9999-9999'">
                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <h2><div style="color:red" asp-validation-summary="ModelOnly"></div></h2>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-6">

                                    <a asp-controller="MyAccount" asp-action="AllCards" class="btn btn-primary">Geri</a>
                                    <button type="submit" class="btn btn-success">Sifariş et</button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
          
            </div>

     
     
        
    
        </div>
   
   </div>-->
*/

<!-- bootstrap-daterangepicker -->
<script src="~/Admin/gentela-gh-pages/vendors/moment/min/moment.min.js"></script>
<script src="~/Admin/gentela-gh-pages/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-datetimepicker -->
<script src="~/Admin/gentela-gh-pages/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<!-- Ion.RangeSlider -->
<script src="~/Admin/gentela-gh-pages/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
<!-- Bootstrap Colorpicker -->
<script src="~/Admin/gentela-gh-pages/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<!-- jquery.inputmask -->
<script src="~/Admin/gentela-gh-pages/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<!-- jQuery Knob -->
<script src="~/Admin/gentela-gh-pages/vendors/jquery-knob/dist/jquery.knob.min.js"></script>
<!-- Cropper -->
<script src="~/Admin/gentela-gh-pages/vendors/cropper/dist/cropper.min.js"></script>
<script>
    $(document).ready(function () {
        function setFirstEightDigits(currency) {
            var firstEightDigits;
            switch (currency) {
                case "AZN":
                    firstEightDigits = "1111-1111-@LastEigthNumber";
                    break;
                case "TRL":
                    firstEightDigits = "2222-2222-@LastEigthNumber";
                    break;
                      case "USD":
                    firstEightDigits = "3333-3333-@LastEigthNumber";
                    break;
                case "EUR":
                    firstEightDigits = "4444-4444-@LastEigthNumber";
                    break;
                default:        
                    firstEightDigits = "0000-0000-XXXX-XXXX";
            }
            $("#card-number").val(firstEightDigits);
        }
        setFirstEightDigits($("#senderCardSelect").val());
        $("#senderCardSelect").on("change", function () {
            var selectedCurrency = $(this).val();
            setFirstEightDigits(selectedCurrency);
        });
    });
</script>




  
