@model DTOLayer.DTOS.CreditDTOS.GetNewCreditDTO
@{
    ViewData["Title"] = "GetCredit";
    Layout = "~/Areas/Admin/Views/CustomerLayout/Index.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Money Transfer  İstifadəçi Paneli</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-6 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Axtar...</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Money Transfer Project<small>Pul göndərmək üçün valyutanı seçin</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="align-items-center">
                        <form method="post" class="form-horizontal form-label-center align-items-center">
                            <div class="form-group">
                                <label class="control-label col-md-6 col-sm-6 col-xs-6">Bank kartlarım</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <select class="form-control" id="senderCardSelect" asp-for="AccountNumber">
                                        <option selected>--------------Valuta Seçin---------------</option>
                                        @foreach (var item in ViewBag.CustomerAccount as List<EntityLayer.Concrete.CustomerAccount>)
                                        {
                                            <option>@item.AccountNumber</option>
                                        }
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-6 col-sm-6 col-xs-6">Məbləğ</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input type="text" class="form-control" asp-for="CreditAmount" >
                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-6 col-sm-6 col-xs-6">Faiz</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input type="text" class="form-control" asp-for="Percent">
                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-6 col-sm-6 col-xs-6">Kredit müddəti</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input type="number" class="form-control" asp-for="Period" id="accountNumberInput" placeholder="Ay olaraq qeyd edin..." >
                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <h2><div style="color:red" asp-validation-summary="ModelOnly"></div></h2>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-6">

                                    <a asp-controller="MyAccount" asp-action="AllCards" class="btn btn-primary">Geri</a>
                                    <button type="submit" class="btn btn-success">Sifariş et</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6" id="otherInfo">
                </div>

            </div>

        </div>





    </div>

</div>
<script>
    $(document).ready(function () {
        $('#senderCardSelect').change(function () {
            var selectedCard = $(this).val();
            $.ajax({
                url: '/Admin/MoneyTransfer/SenderCardInfo',
                type: 'POST',
                data: { selectedCard: selectedCard },
                success: function (response) {
                    $('#otherInfo').html(response);
                },
                error: function (xhr, status, error) {
                    console.log('Hata oluştu: ' + error);
                }
            });
        });
    });
    function addAmount(value) {
        var amountInput = document.getElementById("amountInput");
        var currentAmount = parseFloat(amountInput.value);
        var newAmount = currentAmount + value;
        amountInput.value = newAmount;
    }
</script>

